<!-- nav -->

<nav fxLayoutAlign="end end" class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div fakeclass="navbar-nav">
      <a class="nav-item nav-link" style="color: white;" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div >
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <alert></alert>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>

